{% block content %}
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 foot_left"><a href="/contact">Contact</a></div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<p class="text-center">Copyright © 2016 D.A.&nbsp;Salick</p>

<p class="text-center">Site theme by hutchgrant</p>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 foot_right">
<ul class="social_icons">
	<li class="social_icon"><a href="https://www.facebook.com/derek.a.salick"><img src="/themes/militarytheme/images/f_icon.png" width="32px" /></a></li>
	<li class="social_icon"><a href="https://twitter.com/derekabdul"><img src="/themes/militarytheme/images/t_icon.png" width="32px" /></a></li>
	<li class="social_icon"><a href="https://www.youtube.com/channel/UCBwbBW9J_8nmI04lNQdXZKQ"><img src="/themes/militarytheme/images/y_icon.png" width="32px" /></a></li>
</ul>
<br />
<br />
<a href="http://www.mwointl.com"><img height="32px" src="/themes/militarytheme/mwo_logo.svg" width="27px" /> MWO International </a></div>
</div>
{% endblock %}
