{% block content %}
<div class="marketing"><!-- Three columns of text below the carousel -->
<div class="row">
<div class="col-lg-4 text-center"><img alt="Generic placeholder image" class="img-circle" height="140" src="/themes/militarytheme/images/VIR.png" width="140" />
<h2>My Heroes</h2>

<p>A tribute to those I served with.</p>

<p><a class="btn btn-default" href="./in-memory-of" role="button">View details »</a></p>
</div>
<!-- /.col-lg-4 -->

<div class="col-lg-4 text-center"><img alt="Generic placeholder image" class="img-circle" height="140" src="/themes/militarytheme/images/book.jpeg" width="140" />
<h2>Books</h2>

<p>Purchase one of my paperback/ebooks.</p>

<p><a class="btn btn-default" href="./books" role="button">View details »</a></p>
</div>
<!-- /.col-lg-4 -->

<div class="col-lg-4 text-center"><img alt="Generic placeholder image" class="img-circle" height="140" src="/themes/militarytheme/images/newspaper.jpeg" width="140" />
<h2>Media</h2>

<p>Articles I've been featured in, from around the world.</p>

<p><a class="btn btn-default" href="./media" role="button">View details »</a></p>

<p>&nbsp;</p>
</div>
<!-- /.col-lg-4 --></div>
<!-- /.row --></div>
{% endblock %}
