{% block content %}
<hr class="featurette-divider" />
<div class="row featurette">
<div class="col-md-7">
<h2 class="featurette-heading">20 years in the&nbsp;<span class="text-muted">Canadian Forces.</span></h2>

<p class="lead">Germany, Cyprus, Bosnia, Macedonia, I've seen many conflicts during my tours of duty as a Canadian Infantry(RCR) Peacekeeper.</p>
</div>

<div class="col-md-5"><img alt="500x500" class="featurette-image img-responsive center-block" data-holder-rendered="true" data-src="holder.js/500x500/auto" src="/themes/militarytheme/images/salick_museum.jpg" width="250px" /></div>
</div>

<hr class="featurette-divider" />
<div class="row featurette">
<div class="col-md-7 col-md-push-5">
<h2 class="featurette-heading">Now at this moment, I enjoy writing,&nbsp;<span class="text-muted">hence my second book:</span></h2>

<p class="lead">&nbsp;"I Lived A Dream: My Canadian Heroes".</p>
</div>

<div class="col-md-5 col-md-pull-7"><img alt="500x500" class="featurette-image img-responsive center-block" data-holder-rendered="true" data-src="holder.js/500x500/auto" src="/themes/militarytheme/images/romeo_dallaire.jpg" /></div>
</div>

<hr class="featurette-divider" />
<div class="row featurette">
<div class="col-md-7">
<h2 class="featurette-heading">Sharing with you the history and&nbsp;<span class="text-muted">memories of&nbsp;my heroes.</span></h2>

<p class="lead">&nbsp;</p>
</div>

<div class="col-md-5"><img alt="500x500" class="featurette-image img-responsive center-block" data-holder-rendered="true" data-src="holder.js/500x500/auto" src="/themes/militarytheme/images/infanty.jpg" /></div>
</div>
{% endblock %}
